html {
  height: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 14, 48, 1);
}
body {
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 14, 48, 1) 0%,
    rgba(3, 32, 100, 1) 100%
  );
  font-family: monospace;
  color: salmon;
  padding: 50px;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
}
h1 {
  font-weight: normal;
  font-size: 80px;
}
.iconWrap {
  margin-right: 15px;
}
.icon {
  font-size: 50px;
}
.table-wrap {
  width: 100%;
  overflow-x: scroll;
  border: 1px dashed rgba(255, 147, 163, 0.1);
  margin-bottom: 30px;
}
table {
  border-collapse: collapse;
  cursor: ew-resize;
}
td,
th {
  border: 4px dashed rgba(255, 147, 163, 0.2);
  padding: 30px;
  font-weight: normal;
}
th {
  background-color: rgba(255, 147, 163, 0.2);
  color: white;
  font-weight: normal;
  font-size: 24px;
}

.buttonWrap {
  display: flex;
}

.buttonWrap a,
.buttonWrap button {
  margin-left: 10px;
}

a,
button {
  color: white;
  margin: 0;
  padding: 3px 5px;
  border: 1px solid lime;
  text-decoration: none;
  border-radius: 2px;
  background: none;
  outline: none;
  display: inline-flex;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover,
a:hover {
  color: rgba(0, 14, 48, 1);
  background: lime;
}
th span {
  font-size: 16px;
}
code {
  background: white;
  border-radius: 2px;
  padding: 3px 5px;
  font-size: 18px;
  margin-left: 10px;
  color: #032064;
}
em {
  margin-bottom: 40px;
  display: inline-block;
}
span {
  color: white;
  font-size: 14px;
  margin-left: 10px;
}
.year {
  padding: 20px 0 50px 0;
  border-top: 10px dashed rgba(255, 147, 163, 0.2);
  margin: 0 0 4 0px 0;
}

.yearTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.outcome-wrapper {
  display: flex;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.canvas-wrap {
  width: 100%;
  height: 90vh;
  overflow: scroll;
  border: 1px solid lime;
  margin-bottom: 20px;
}
canvas {
  border: 4px dashed rgba(255, 147, 163, 0.1);
  cursor: zoom-in;
}
canvas.max-zoom {
  cursor: zoom-out;
}
